* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
}

header {
  background-image: url(../imgs/jumbo.png);
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 4px;
  height: 700px;

}

header nav {
  margin-bottom: 1rem;
}

header nav .container {
  display: flex;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  background-color: #23272a;
  padding-top: 6px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-grey {
  background-color: #d3d3d3;
}

.nav-logo,
.nav-login {
  min-width: 150px;
  padding: 10px;
}

.nav-links {
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.nav-links ul a {
  display: inline-block;
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-login {
  text-align: right;
}

button{
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.hero-section {
  padding: 5rem 0;
}

.hero-section .container {
  max-width: 700px;
  min-height: 300px;
  color: white;
  text-align: center;
  line-height: 2rem;
}

.hero-section .container h1 {
  font-size: 3.2rem;
  margin: 4rem;
}

h1{
  font-size: 3.2rem;
  margin-top: 3rem;
}

p{
  margin: 15px 0;
}

.hero-section button{
  padding: 15px 20px;
  font-size: 1rem;
}

.hero-section button:last-child{
  color: white;
  background-color: black;
  padding: 15px 20px;
}

.row {
  display: flex;
}

.col-large,
.col-small {
  border: 1px dashed black;
  min-height: 500px;
}

.col-large {
  width: 60%;
  /* background-color: #1e90ff; */
}

.col-small {
  width: 40%;
  /* background-color: #ffc0cb; */
}

.study-group .col-large{
  background-image: url(../imgs/item1.svg);
  background-size: cover;
}

.voice-connect .col-large{
  background-image: url(../imgs/item2.svg);
  background-size: cover;
}

.community .col-large{
  background-image: url(../imgs/item3.svg);
  background-size: cover;
}

.box-green {
  border: 1px dashed black;
  min-height: 700px;
  background-image: url(../imgs/item4-big.svg);
  background-size: cover;
}

.stars{
  margin: 50px auto;
  height: 100px;
  width: 550px;
  background-image: url(../imgs/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: larger;
  text-align: center;
  padding: 30px 0;
}

footer .col {
  border: 1px dashed white;
  flex-grow: 1;
  background-color: #20b2aa;
  min-height: 300px;
}

footer .col-large {
  width: 15%;
  background-color: #f08080;
  border-color: black;
}

footer hr {
  margin-top: 1.4rem;
  margin-bottom: 1rem;
}

.secondary-footer {
  background-color: #7fffd4;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-logo,
.footer-btn {
  border: 1px dashed black;
  padding: 0.5rem;
  background-color: #FFB6C1;
}
