* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 20px; */
}

header {
  background-image: url(../imgs/jumbo.png);
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 4px;
  height: 700px;

}

header nav {
  margin-bottom: 1rem;
}

header nav .container {
  display: flex;
}

section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

footer {
  background-color: #23272a;
  padding-top: 6px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.bg-grey {
  background-color: #F6F6F6;
}

.wave{
  background-image: url(../imgs/wave.svg);
  background-size: cover;
  height: 200px;
  fill: #F6F6F6;
  filter: invert(0.96);
}

.wave.transform {
  transform: rotate(180deg);
}

.nav-logo,
.nav-login {
  min-width: 150px;
  padding: 10px;
}

.nav-links {
  flex-grow: 1;
}

.nav-links ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.nav-links ul a {
  display: inline-block;
  padding: 0 0.3rem;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.nav-login {
  text-align: right;
}

button{
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
}

.hero-section {
  padding: 5rem 0;
}

.hero-section .container {
  max-width: 700px;
  min-height: 300px;
  color: white;
  text-align: center;
  line-height: 2rem;
}

.hero-section .container h1 {
  font-size: 3.2rem;
  margin: 4rem;
}

h1{
  font-size: 3.2rem;
  margin-top: 3rem;
}

p{
  margin: 15px 60px 15px 0;
  line-height: 1.7rem;
}

.hero-section button{
  padding: 15px 20px;
  font-size: 1rem;
}

.hero-section button:last-child{
  color: white;
  background-color: black;
  padding: 15px 20px;
}

.row {
  display: flex;
}

footer h2{
  color: #7289da;
  font-size: 2rem;
  
}

footer h3{
  color: #7289da;
  font-size: 1rem;
  margin-bottom: 15px;
}

.col img{
  width: 24px;
  height: 24px;
  margin: 25px 5px 0 0;
}

.lang-it{
  height: 24px;
  line-height: 24px;
}

.lang-it img{
  margin: 10px 0;
  vertical-align: middle;
  height: 1.2rem;
}

.it{
  display: inline-block;
  height: 24px;
  vertical-align: middle;
}

.col-large,
.col-small {
  min-height: 500px;
}

.col-large {
  width: 60%;
  padding: 25px;
  color: white;
  /* background-color: #1e90ff; */
}

.col-small {
  width: 40%;
  /* background-color: #ffc0cb; */
}

.study-group .col-large{
  background-image: url(../imgs/item1.svg);
  background-size: cover;
}

.voice-connect .col-large{
  background-image: url(../imgs/item2.svg);
  background-size: cover;
}

.community .col-large{
  background-image: url(../imgs/item3.svg);
  background-size: cover;
}

.box-green {
  min-height: 700px;
  background-image: url(../imgs/item4-big.svg);
  background-size: cover;
}
.voice-channel{
  text-align: center;
}

.voice-channel button{
  background-color: #7289DA;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

.stars{
  margin: auto;
  margin-top: 50px;
  height: 100px;
  width: 550px;
  background-image: url(../imgs/stars.svg);
  background-size: contain;
  background-repeat: no-repeat;
  font-size: larger;
  padding-top: 30px;
}

.col ul{
  list-style: none;
  padding: 25px;
  line-height: 1.7rem;
}

a{
  text-decoration: none;
  color: white;
}

footer .col {
  flex-grow: 1;
  min-height: 300px;
}

footer .col-large {
  width: 15%;
}

footer .row {
  border-bottom: 1px solid #7289DA;
}

.secondary-footer {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

.footer-btn button {
  background-color: #7289DA;
  color: white;
}
